[Unit]
Description=Keyboard speaker service
After=network.target


[Service]
ExecStart=/home/tactilmap/speakerkeyboard/venv/bin/python3 -m kspeaker
WorkingDirectory=/home/tactilmap/speakerkeyboard

[Install]
WantedBy=multi-user.target
